.app {
    text-align: center;
    background-color: #72817f;
}

.app-header {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #bed7d4;
}
